* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Utilities */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* Header */
header {
    background: #132431;
}

header img {
    width: 50px;
}

/* Main */
main {
    background: #182d3d;
}

main ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

main ul li {
    width: calc(100% / 3 - 100px);
    margin: 40px;
    padding: 20px;
    color: #fff;
    text-align: center;
    background: #000;
}

main ul li img {
    width: 100%;
    margin-bottom: 20px;
}

main ul li h2 {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

main ul li h3 {
    font-size: 1rem;
    margin-bottom: 8px;
}

main ul li h4 {
    font-size: 0.75rem;
    margin-bottom: 8px;
}
